# Database Server
DB_USER= # Your MySQL Username
DB_PASSWORD= # Your MySQL Password
DB_HOST= # MySQL Hostname
DB_PORT= # MySQL Port
DB_NAME= # Name of the Database (city_explorer)

# JWT
JWT_SECRET_KEY= # Secret Key for JWT Encoding

# API
OPENWEATHER_KEY= # OpenWeatherMap API Key
OPENTRIP_KEY= # OpenTripMap API Key